# Simpan API key Gemini Anda di sini
GEMINI_API_KEY=GEMINI_API_KEY

# Endpoint Gemini API
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent

# Model Gemini
GEMINI_MODEL=gemini-2.5-flash

PORT=4000